<h1>Do you want to del this Product ?</h1>
<table *ngIf="product">
  <tr>
    <td>id</td>
    <td>{{product.id}}</td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>{{product.productName}}</td>
  </tr>
  <tr>
    <td>Price:</td>
    <td>{{product.price}}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{product.details}}</td>
  </tr>
  <tr>
    <td>Category:</td>
    <td>{{product.category.id}}</td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button (click)="deleteProduct(id)">Xoá</button>
    </td>
  </tr>
</table>
