<h1>Category List</h1>
<button><a routerLink="/category/create">Create New Category </a></button>
<table>
  <tr>
    <td>Category Id</td>
    <td>Name</td>
    <td colspan="2"></td>
  </tr>
  <tr *ngFor="let category of categories; index as i">
    <td>{{category.categoryId}}</td>
    <td>{{category.categoryName}}</td>
    <td><a [routerLink]="['/category/edit',category.categoryId]">Update</a></td>
    <td><a [routerLink]="['/category/delete',category.categoryId]">Delete</a></td>
  </tr>
</table>
