<section class="banner">
  <owl-carousel-o [options]="bannerSlider">
    <ng-template carouselSlide><img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4ddee420-10a4-4fe9-a97e-b149bf8acdef/d257n25-cfede040-d5ce-4802-ab91-11fb4f4e82f9.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRkZGVlNDIwLTEwYTQtNGZlOS1hOTdlLWIxNDliZjhhY2RlZlwvZDI1N24yNS1jZmVkZTA0MC1kNWNlLTQ4MDItYWI5MS0xMWZiNGY0ZTgyZjkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.aKw_lB7ZYsbv2-WB9KaY4gh8lOi7HWeOnEOnE4SC4Lc">
    </ng-template>
    <ng-template carouselSlide><img
      src="https://www.shutterstock.com/shutterstock/photos/1882344904/display_1500/stock-vector-modern-banner-background-full-of-colors-gradations-concept-banners-business-etc-eps-1882344904.jpg">
    </ng-template>
    <ng-template carouselSlide><img
      src="https://static.vecteezy.com/system/resources/previews/002/393/980/original/corporate-banner-with-modern-design-free-vector.jpg">
    </ng-template>
  </owl-carousel-o>
</section>

<nav class="navbar navbar-light">
  <div class="searchbar">
    <a class="navbar-brand" href="#"><img src="/assets/images/logo1.png"></a>
    <input class="form-control mr-sm-2" type="search" placeholder="bạn tìm gì..." aria-label="Search">
  </div>
</nav>

<!--<nav class="navbar navbar-light bg-light">-->
<!--  <a class="navbar-brand"></a>-->
<!--  <form class="form-inline">-->
<!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--  </form>-->
<!--</nav>-->

<div class="navbar">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light navbar-expand-xl py-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav flex-fill">
          <li class="nav-item active">
            <a class="nav-link" href="#"><img src="/assets/images/dienthoai.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="/assets/images/laptop.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="/assets/images/tablet.png"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown">
              <img src="/assets/images/phukien.png">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="#">Phụ Kiện Di Động</a>
              <a class="dropdown-item" href="#">Phụ Kiện Laptop</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Thiết Bị Âm Thanh</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Thiết Bị Lưu Trữ</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="/assets/images/smartwatch.png"></a>
          </li><li class="nav-item">
            <a class="nav-link" href="#"><img src="/assets/images/maycu.png"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown">
              <img src="/assets/images/pc.png">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="#">Máy In</a>
              <a class="dropdown-item" href="#">Mực In</a>
              <a class="dropdown-item" href="#">Màn Hình Máy Tính</a>
              <a class="dropdown-item" href="#">Máy Tính Để Bàn</a>
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#">Something else here</a>-->
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
