<h1>Category</h1>
<a style="margin-left: 5cm" class="create-link" href="/category/create">
  <i class="fas fa-plus"></i> <!-- Thay thế icon -->
  Create New Category
</a>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Category Name</th>
    <th colspan="2">Actions</th>
  </tr>
  <tr *ngFor="let category of categories; index as i" class="category-item" click="onClickHandler()">
    <td>{{ i + 1 }}</td>
    <td>{{ category.categoryName }}</td>
    <td><a class="btn btn-primary" href="/category/edit/{{ category.id }}">Edit</a></td>
    <td><a class="btn btn-danger" href="/category/delete/{{ category.id }}">Delete</a></td>
  </tr>
</table>
